
*{
  font-family:  Verdana;
}
body{
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Estilos del header */

.header-container{
  height: 85px;
  background-color: #eff3f3;
  border-bottom: 1px solid #3333331c ;
  display: flex;
  align-items: center;
}

.header_content{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}
.header_logo-img,.footer_logo-img{
  width: 27px;
  height: 26px;

}
.header_logo,.footer_logo{
  display: flex;
  font-size: 28px;
  font-weight: 700;
  align-items: center;
}

.header_btn-container{
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header_btn-suscribe{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
  font-weight: 500;
  text-align:center;
  line-height: 30px;
  color: #264859;
  background-color: #ffffff;
  padding: 6px 16px;
  padding-bottom: 8px;
  border: 1px solid #264859;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}
.header_btn-suscribe:hover{
  background-color: #fafafa;
}
.header_btn-unsuscribe{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
  font-weight: 500;
  text-align:center;
  line-height: 30px;
  color: #ffffff;
  background-color: #264859;
  padding: 6px 16px;
  padding-bottom: 8px;
  border: 1px solid #264859;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}
.header_btn-unsuscribe:hover{
  background-color: rgba(35, 66, 82, 0.863);
}

/* Estilos del main */

.main-content{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #eff3f3;
}

/*Estilos de la sección de información principal*/

.main_info-container{
  width: 95%;
  margin: auto;
  background-color: #eff3f3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat( auto-fit, minmax(300px, 500px));
  gap: 5px;
  justify-items: center;
  padding: 10px 0;
}
.main_info-image{
  background-color: #eff3f3;
}
.main_info-image > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 18px;
}
.main_info{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.main_info-title{
  color: #264859;
  font-size: 48px;
  font-weight: 700;
  line-height: 76px;
  text-align: center;
  
}
.main_info-description{
  color: #264859;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;   
  text-align: center;
}   

/* Estilos de la sección de instrucciones principales*/

.main_instructions-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ffff;
  margin: auto;
}
.main_instrucions-title{
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin: 20px 0 15px 0;
}
.main_instruction-separation{
  height: 3px;
  width: 100px;
  background-color: #264859;
  border-radius:  25px; 
  margin: 10px 0 15px;

}

.main_instrucions{
  width: 95%;
  max-height: 750px;
  display: grid;
  grid-template-rows: repeat(auto-fit,225px);
  grid-template-columns:repeat(auto-fit,minmax(250px,300px));
  justify-content: space-around;
  gap: 10px;
  padding: 0;
}

.main_instruction{
  list-style: none;
  color: #264859;
  border: 1px solid #264859;
  border-radius: 25px;
  background-color: #eff3f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 18px;
  position: relative;
}

.main_instruction-icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #2648597e;
  border-radius: 50%;
  padding: 5px;
}
.main_instruction-description{
  text-align: center;
  width: 90%;
  font-weight: 600;
  color: #162e3a;
  margin: 0;
}
.main_instruction-title{
  text-align: center;
  width: 90%;
  font-weight: 900;
  font-size: 20px;
  color: #000;
  margin: 0;
}
.main_instruction-text{
  text-align: center;
  width: 90%;
  margin: 0;
}

/* Estilos de la sección de llamada a la acción principal*/

.main_cta-container{
  width: 95%;
  margin: auto;
  background-color: #264859f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  border-radius: 40px;
  padding: 0 0 30px;
}
.main_cta-title{
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  font-weight: 550;
  text-align: center;
  width: 70%;
}
.main_cta-button{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
  font-weight: 600;
  text-align:center;
  line-height: 30px;
  color: #264859;
  background-color: #ffffff;
  padding: 8px 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5px;
}
.main_cta-button:hover{
  background-color: #fafafa;
  animation: scale 0.3s forwards;
}

/* Estilos del footer */

.footer-container{
  width: 100%;
  height: 60px;
  background-color: #eff3f3;
  border-top: 1px solid #3333331c ;
  margin-top: 20px;
}
.footer-content{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  height: 60px;
}
.footer_description{
  font-size: 16px;
  color: #264859;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_description-icons{
  width: 23px;
  height: 23px;
  cursor: pointer;
}


@keyframes scale{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.05);
  }

}

@media (max-width: 900px) {
.header_logo-img,.footer_logo-img{
  width: 23px;
  height: 23px;
}

.header_logo,.footer_logo{
  font-size: 24px;  
}
.header_btn-suscribe, .header_btn-unsuscribe{
  font-size: 20px;
  padding: 7px 15px;
  padding-bottom: 10px;

}

.main_instruction-text{
  font-size: 18px;
}
.main_cta-title{
  font-size: 36px;
  line-height: 36px;
}
}

@media (max-width: 600px) {
.header-container{
  height: 60px;
}
.header_content{
  height: 60px;
}
.header_logo-img,.footer_logo-img{
  width: 18px;
  height: 18px;
}

.header_logo,.footer_logo{
  font-size: 18px;  
}
.header_btn-suscribe, .header_btn-unsuscribe{
  line-height: 20px;
  font-size: 13px;
  padding: 3px 5px;
  padding-bottom: 4px;

}
.main_info-container{
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat( auto-fit, minmax(280px, auto));
}
.footer_description{
  font-size: 14px;
}
.footer_description-icons{
  width: 18px;
  height: 18px;

}
}

@media (max-width: 370px){
.header-container{
  height: 50px;
}
.header_content{
  height: 50px;
}
.header_logo-img,.footer_logo-img{
  width: 14px;
  height: 14px;
}

.header_logo,.footer_logo{
  font-size: 15px;  
}
.header_btn-suscribe, .header_btn-unsuscribe{
  line-height: 19px;
  font-size: 10px;
  padding: 2px 4px;
  padding-bottom: 4px;

}
  .main_info-container{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat( auto-fit, minmax(250px, auto));
}
.footer_description{
  font-size: 11px;
}
.footer_description-icons{
  width: 15px;
  height: 15px;
}
}




@media (min-width: 2000px){
.header-container{
  height: 100px;
}
.header_content{
  height: 100px;
}
.header_logo-img,.footer_logo-img{
  width: 60px;
  height: 60px;
}

.header_logo,.footer_logo{
  font-size: 60px;  
}
.header_btn-suscribe, .header_btn-unsuscribe{
  line-height: 28px;
  font-size: 28px;
  padding: 16px 32px;
  padding-bottom: 20px;

}
  .main_info-container{
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  grid-template-rows: repeat( auto-fit, minmax(800px, auto));
}
 .main_info-description{
  font-size: 42px;
  line-height: 54px;    
}
.main_info-title{
  font-size: 96px;
  line-height: 120px;    
}
.main_instrucions{
  grid-template-rows: repeat(auto-fit,450px);
  grid-template-columns:repeat(auto-fit,minmax(500px,700px));
  gap: 20px;
}
.main_instrucions-title{
  font-size: 84px;  
  
}
.main_instruction{
  justify-content: space-evenly;
}
.main_instruction-text{
  font-size: 32px;
}
.main_instruction-title{
  font-size: 40px;
}
.main_instruction-icon{
  width: 80px;
  height: 80px;
  padding: 10px;
}
.main_instruction-description{
  font-size: 52px;
  line-height: 80px;
}
.main_cta-title{
  font-size: 60px;
  line-height: 60px;
}
.main_cta-button{
  font-size: 32px;
  padding: 16px 40px;
  padding-bottom: 20px;
}
.footer-container{
  height: 100px;
}
.footer-content{
  height: 100px;
}
.footer_description{
  font-size: 50px;
}
.footer_description-icons{
  width: 50px;
  height: 50px;

}

}